*{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 400%;
  font-weight: 400;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  margin: 20px auto;
}

#title{
  color: #005293;
}

body{
  background-color: #999999;
}

#quiz{
  background-color: #eeeeee;
  border-radius: 15px;
  padding: 20px;
}

#title{
  margin: 30px auto;
  text-align: center;
}

#start-btn-container, #quiz{
  align-content: center;
  text-align: center;
  display: block;
  width: 70%;
  margin: 6% 15%;
}


.question{
  text-align: center;
  margin-top: 5%;
}
#question{
  display: none;
  margin: 10px auto;
}

#play-again-btn-container{
  display: none;
  margin: 20px auto;
  text-align: center;
}

#play-again-btn, #start-btn{
  padding: 15px 30px;
  border-radius: 5px;
  color: #333333;
  background-color: #ffffff;
  border-color: #005293;
  font-size: 150%;
}
#after-question{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  color: #333333;
  margin: auto;
}

.answerContainer{
  margin: 20px auto;
}
.answer {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color: #333333;
}
.answer:hover {
  cursor: pointer;
  color: #005293;
}
#question {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%
}
